<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js"></script>

    <link href="https://transloadit.edgly.net/releases/uppy/v1.4.0/uppy.min.css" rel="stylesheet">
    <script src="https://transloadit.edgly.net/releases/uppy/v1.3.0/uppy.min.js"></script>

    <script src="https://www.alpineenergy.in/public/thumbor.js"></script>
    <script src="https://www.alpineenergy.in/public/main.js"></script>

    <style>
        .pdL0 {
            padding-left: 0 !important;
        }

        .navbar {
            margin: 0;
        }

        .docs-buttons {
            margin-bottom: 10px;
        }

        .simpleDemo ul[dnd-list] {
            min-height: 42px;
            padding-left: 0px;
        }

        .simpleDemo ul[dnd-list] .dndDraggingSource {
            display: none;
        }

        .container.main {
            width: 100% !important;
        }

        .button.box-body {
            margin: 10px 0 !important;
        }

        .simpleDemo ul[dnd-list] .dndPlaceholder {
            background-color: #ddd;
            display: block;
            min-height: 42px;
        }

        .simpleDemo ul[dnd-list] li {
            background-color: #fff;
            border: 1px solid #ddd;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            display: block;
            margin-bottom: -1px;
        }

        .img-container img {
            width: 100%;
        }

        .MT10 {
            margin-top: 10px;
        }

        .simpleDemo ul[dnd-list] li.selected {
            background-color: #dff0d8;
            color: #3c763d;
        }

        .download_btn {
            display: none;
        }

        select {
            width: 300px;
            color: #000;
        }

        .draft_list_group {
            padding: 10px 15px;
            border-left: 5px solid transparent;
        }

        .icon {
            float: right;
            padding: 0 5px;
        }

        .edit a, .icon button {
            color: #000;
        }

        .icon button {
            padding: 0;
            margin: 0;
            border: 0;
        }

        .list-group {
            margin: 0;
        }

        .delete {
            padding-top: 0px;
            padding-right: 14px;
            right: 20px;
            top: 0px;
        }

        .list-group-item {
            padding: 0 !important;
        }

        /*#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }*/
        /*#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }*/
        /*#sortable li span { position: absolute; margin-left: -1.3em; }*/

        .draft_active {

        }

        .draft_active .draft {
            opacity: 1;
        }

        .draft {
            opacity: 0;
        }

        .draft_list_group:hover .up_down_btn {
            display: block !important;
        }

        .list-group .list_active {
            border-left: 3px solid #b5152b;
        }

        .icon {
            float: right;
            padding: 0 5px;
        }

        .edit a,
        .icon button {
            color: #000;
        }

        .icon button {
            padding: 0;
            margin: 0;
            border: 0;
        }

        .delete {
            padding-top: 0px;
            padding-right: 14px;
            right: 20px;
            top: 0px;
        }

        .list-group-item {
            padding: 0 !important;
        }

        .container.main {
            width: 100% !important;
        }

        .list-group li {
            list-style: none;
            /*border: 1px solid #ccc;*/
            /*float: left;*/
        }

        .draft_list_group ul {
            padding: 0;
        }

        .red {
            color: red;
        }

        .draft_list_group ul li {
            display: inline-block;
            border: 0;
            width: auto;
        }

        /*.d_page_name {*/
        /*    float: left;*/
        /*}*/
        .up_down_btn {
            float: right;
            display: none;
        }

        .draft_list_group button {
            background: none;
        }

        .draft_list_group ul li:last-child {
            float: right;
        }

    </style>

    <style>
        .progress{
            border:1px solid #ccc;
            position: absolute;
            width: 100%;
            height: 5px!important; ;
            top:0;
        }
        .tab-content{
            position: relative;
        }
        .form-group p{
            margin:0;
        }
        .form-group label{
            width:40%;
        }
        .MT20{
            margin-top: 20px;
        }
        .page_list{
            min-height: 200px;
        }
        .input_field p{
            display: inline-block;
        }
        .table-bordered td p{
            padding: 0;
            margin: 0 !important;
        }
        .border{
            border:1px solid #ddd;
        }
        .edit_table{
            font-weight: normal;
            font-size:10px;
            width:100%;
        }
        .mrb20{
            margin-bottom:10px !important;
        }
    </style>

</head>

<body class="main">
<form role="form">

    <div class="container main">
        <div class="row header">
            <div class="progress for-ProgressBar "></div>
            <div class="alert alert-success">
                <strong>Success!</strong> Indicates a successful or positive action.
            </div>
        </div>
        <!-- header end -->
        <!-- wrapper start here -->
        <div class="row">
            <!-- invoice left start -->
            <div class="col-md-4 pd0">
                {% include "src/base/invoice_meta.njk" %}
            </div>
            <!-- invoice left end -->
            <!-- invoice right block start -->
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- Content -->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 docs-buttons">
                                        <div class="btn-group">
                                            <button class="btn btn-primary" data-method="zoom" data-option="0.1"
                                                    title="Zoom In" type="button">
                                                <span class="docs-tooltip" data-animation="false"
                                                      data-toggle="tooltip"
                                                      title="$().cropper(&quot;zoom&quot;, 0.1)">
                                                    <span class="fa fa-search-plus"></span>
                                                </span>
                                            </button>
                                            <button class="btn btn-primary" data-method="zoom" data-option="-0.1"
                                                    title="Zoom Out" type="button">
                                                  <span class="docs-tooltip" data-animation="false"
                                                        data-toggle="tooltip"
                                                        title="$().cropper(&quot;zoom&quot;, -0.1)">
                                                    <span class="fa fa-search-minus"></span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-primary" data-method="rotate" data-option="-5"
                                                    title="Rotate Left" type="button">
                                                <span class="docs-tooltip" data-animation="false"
                                                      data-toggle="tooltip"
                                                      title="$().cropper(&quot;rotate&quot;, -5)">
                                                    <span class="fa fa-rotate-left"></span>
                                                </span>
                                            </button>
                                            <button class="btn btn-primary" data-method="rotate" data-option="5"
                                                    title="Rotate Right" type="button">
                                                <span class="docs-tooltip" data-animation="false"
                                                      data-toggle="tooltip"
                                                      title="$().cropper(&quot;rotate&quot;, 5)">
                                                    <span class="fa fa-rotate-right"></span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-method="crop" title="Crop">
                                               <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="$().cropper(&quot;crop&quot;)">
                                                 <span class="fa fa-crop"></span>
                                               </span>
                                            </button>
                                            <button type="button" class="btn btn-primary" data-method="clear" title="Clear">
                                               <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="$().cropper(&quot;clear&quot;)">
                                                 <span class="fa fa-remove"></span>
                                               </span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-primary" data-method="scaleY" data-option="-1"
                                                    title="Flip Vertical" type="button">
                                                <span class="docs-tooltip" data-animation="false"
                                                      data-toggle="tooltip"
                                                      title="$().cropper(&quot;scaleY&quot;, -1)">
                                                    <span class="fa fa-arrows-v"></span>
                                                </span>
                                            </button>
                                        </div>

                                        </button>
                                        <div class="btn-group">
                                            <button class="btn btn-primary" data-method="reset" title="Reset"
                                                    type="button">
                                                <span class="docs-tooltip" data-animation="false"
                                                      data-toggle="tooltip"
                                                      title="$().cropper(&quot;reset&quot;)">
                                                    <span class="fa fa-refresh"></span>
                                                </span>
                                            </button>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pd0">
                                        <!-- <h3>Demo:</h3> -->
                                        <div class="img-container">
                                            <img alt="Picture" id="image"
                                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII=">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Content end here -->
                        </div>
                        <div class="col-md-4">
                            {% raw %}
                            <div class="">
                                <div class="btn-group mrb20">
                                    <button class="btn btn-primary" ng-click="updateImages()" type="button">
                                        save
                                    </button>
                                </div>
                                <div class="box-body page_list">
                                    <ul class="list-group">
                                        <li class="ui-state-default list-group-item"
                                                ng-class="{
                                                    'draft_active': imageObj.state.isDraft,
                                                    'list_active': imageStack.activeIndex == $index
                                                }"
                                                data-ng-repeat="imageObj in imageStack.stack"
                                        >
                                            <div class="draft_list_group" class="draft_list_group">
                                                <ul>
                                                    <li class="d_page_name"
                                                        ng-click="imageEditorController.loadIndex($index)">
                                                        <div class="text">{{imageObj.state.label}}</div>
                                                    </li>
                                                    <li class="draft red">
                                                        <span class="red">(draft)</span>
                                                        <div class="icon">
                                                            <button ng-click="imageObj.discardDraft()"><i
                                                                    class="fa fa-trash-o red"></i></button>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="up_down_btn">
                                                            <div class="icon">
                                                                <button ng-click="imageStack.moveDown($index)">
                                                                    <i class="fa fa-arrow-down"></i>
                                                                </button>
                                                            </div>
                                                            <div class="icon">
                                                                <button ng-click="imageStack.moveUp($index)">
                                                                    <i class="fa fa-arrow-up"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <table class="edit_table">
                                    <tr>
                                        <td><label for="created_date">Created Date</label></td>
                                        <td><p>{{invoiceData.created_date}}</p></td>
                                    </tr>
                                    <tr>
                                        <td><label for="created_by">Created by</label></td>
                                        <td><p>{{creator}} ({{creatorEmail}})</p></td>
                                    </tr>
                                    <tr>
                                        <td><label for="reviwed_date">Reviwed Date</label></td>
                                        <td><p>{{invoiceData.reviwed_date}}</p></td>
                                    </tr>
                                    <tr>
                                        <td><label for="reviwed_by">Reviwed by</label></td>
                                        <td><p>{{invoiceData.reviwed_by}}</p></td>
                                    </tr>
                                </table>
                            </div>
                            {% endraw %}

                        </div>
                    </div>
                </div>
            </div>
            <!-- invoice right block end -->
        </div>

        <hr>

        {% block actions %}
        These are possible actions
        {% endblock %}

    </div>

    <script>

        function ImageObject(imageUrl, label) {
            return (function () {
                console.log(`Constructor: ImageObject`);

                let obj = {};
                obj.state = {
                    label: label,
                    url: imageUrl,
                    isDraft: false,
                    cropperData: {}
                };

                obj.discardDraft = () => {
                    obj.state.isDraft = false;
                    obj.state.cropperData = {};
                };

                obj.updateUrl = (url) => {
                    obj.state.url = url;
                    obj.discardDraft();
                };

                obj.setDraft = (cropperData) => {
                    obj.state.isDraft = true;
                    obj.state.cropperData = cropperData;
                };

                obj.getDraftData = () => {
                    return obj.state.cropperData;
                };

                return obj;
            })();
        }

        function ImageStack(imageUrls) {
            return (function () {
                console.log(`Constructor: ImageStack`);

                function arraymove(arr, fromIndex, toIndex) {
                    var element = arr[fromIndex];
                    arr.splice(fromIndex, 1);
                    arr.splice(toIndex, 0, element);
                }

                let obj = {};

                obj.activeIndex = -1;
                obj.frozen = false;

                obj.stack = imageUrls.map(
                    (url, index) => ImageObject(url, `Page ${String.fromCharCode(65 + index)}`)
                );
                obj.moveUp = (index) => {
                    // If frozen, dont operate
                    if (obj.frozen) return;
                    // Already on the top
                    if (index <= 0) return;
                    arraymove(obj.stack, index, index - 1);
                    if (index === obj.activeIndex) obj.activeIndex = index - 1;
                };
                obj.moveDown = (index) => {
                    // If frozen, dont operate
                    if (obj.frozen) return;
                    // Already on the bottom
                    if (index >= obj.stack.length - 1) return;
                    arraymove(obj.stack, index, index + 1);
                    if (index === obj.activeIndex) obj.activeIndex = index + 1;
                };
                obj.setActiveIndex = (index) => {
                    obj.activeIndex = index;
                };
                obj.setFrozen = (frozen) => {
                    obj.frozen = frozen;
                };

                return obj;
            })();
        }

        function ImageEditorController(cropper, stack, thumborTransformer, uppyController) {
            return (function () {
                console.log(`Constructor: ImageEditorController`);

                function saveDraftIfApplicable() {
                    if (stack.activeIndex === -1) return;
                    // If the cropper has edits, save then and update draft, else if image already has draft and cropper
                    // has not edits now, clear draft status.
                    let activeObj = stack.stack[stack.activeIndex];
                    if (cropper.isDirty()) {
                        activeObj.setDraft(cropper.getData());
                    } else if (activeObj.state.isDraft) {
                        activeObj.discardDraft();
                    }
                }

                function __loadIndex(index) {
                    let activeObj = stack.stack[index];
                    let data = activeObj.state.isDraft ? activeObj.getDraftData() : {};
                    cropper.loadImage(activeObj.state.url, data);
                }

                let obj = {};

                obj.loadIndex = (index) => {
                    // Return if the said index is already loaded
                    if (stack.activeIndex === index) return;

                    saveDraftIfApplicable();
                    stack.setActiveIndex(index);
                    __loadIndex(index);
                };

                obj.updateAllImages = () => {
                    stack.setFrozen(true);
                    cropper.disabled(true);

                    saveDraftIfApplicable();

                    let indexMap = [];
                    let urlList = [];
                    stack.stack.forEach((imgObj, index) => {
                        if (imgObj.state.isDraft) {
                            indexMap.push(index);
                            urlList.push(thumborTransformer.transform(imgObj.state.url, imgObj.getDraftData()));
                        }
                    });

                    uppyController.addUrlsAndUpload(urlList).then(results => {
                        if (results.failed.length > 0) {
                            window.alert("Error Uploading");
                            throw new Error("Error Uploading");
                        }

                        results.successful.forEach((uploadedFile, index) => {
                            let imageObj = stack.stack[indexMap[index]];
                            imageObj.updateUrl(uploadedFile.uploadURL);
                        });

                        // If the updated images is currently loaded, refresh the cropper
                        if (indexMap.indexOf(stack.activeIndex) >= 0) {
                            __loadIndex(stack.activeIndex);
                        }
                    }).finally(() => {
                        stack.setFrozen(false);
                        cropper.disabled(false);
                    });

                };

                obj.getImages = () => {
                    return stack.stack.map(imgObj => imgObj.state.url);
                };

                obj.disable = () => {
                    cropper.disabled(true);
                    stack.setFrozen(true);
                };

                obj.enable = () => {
                    cropper.disabled(false);
                    stack.setFrozen(false);
                };

                return obj;
            })();
        }

        function Cropper(jqDomSearchString) {
            return (function () {
                console.log(`Constructor: Cropper`);
                let obj = {};

                function getCropper() {
                    if (!obj.cropper) {
                        obj.img = jQuery(jqDomSearchString);
                        obj.cropper = obj.img.data("cropper");
                    }
                    return obj.cropper;
                }

                obj.loadImage = (url, data) => {
                    getCropper().replace(url, false);

                    // If data is provided, load the image first and wait for cropper to be ready, afterwards set data
                    if (data) {
                        setTimeout(() => {
                            let __listener = function () {
                                obj.setData(data);
                                obj.img[0].removeEventListener('ready', __listener);
                            };
                            obj.img[0].addEventListener('ready', __listener);
                        }, 0);
                    }
                };

                obj.getData = () => {
                    return getCropper().getData();
                };

                obj.setData = (data) => {
                    getCropper().setData(data);
                };

                obj.isDirty = () => {
                    // If the cropper is turned on or image is flipped or rotated
                    let data = obj.getData();
                    let hasCrop = !(data.width === 0 && data.height === 0);
                    let hasRotation = data.rotate != 0;
                    let hasFlip = data.scaleX != '1' || data.scaleY != '1';
                    return hasCrop || hasRotation || hasFlip;
                };

                obj.disabled = (disable) => {
                    if (disable) getCropper().disable();
                    else getCropper().enable();
                };

                return obj;
            })();
        }

        function UppyController(config) {
            return (function () {
                let obj = {};

                obj.uppy = Uppy.Core({
                    autoProceed: false,
                    allowMultipleUploads: true,
                    debug: false,
                    restrictions: {
                        maxFileSize: null,
                        maxNumberOfFiles: null,
                        minNumberOfFiles: null,
                        allowedFileTypes: null
                    },
                    meta: {}
                })
                    .use(Uppy.ProgressBar, {
                        target: '.for-ProgressBar',
                        hideAfterFinish: true
                    })
                    .use(Uppy.Tus, {endpoint: config.tus,})
                    .use(Uppy.Url, {companionUrl: config.companion});

                obj.addUrl = (url) => {
                    return obj.uppy.getPlugin('Url').addFile(url);
                };

                obj.upload = () => {
                    return obj.uppy.upload();
                };

                obj.addUrlsAndUpload = (urls) => {
                    let addFilePromiseList = urls.map(url => obj.addUrl(url));
                    return Promise.all(addFilePromiseList).then(() => {
                        return obj.upload();
                    });
                };

                return obj;
            })();
        }

        function ThumborCropperTransformer(config) {
            return (function () {
                let obj = {};

                obj.transform = (imageUrl, data) => {
                    const thumbor = new ThumborJS(config.url, null);
                    let url = thumbor.imgpath(imageUrl);
                    if (data.scaleX === -1) url.hflip();
                    if (data.scaleY === -1) url.vflip();
                    if (data.rotate) {
                        let rotMul = -1; //data.scaleY === -1 || data.scaleX === -1 ? -1 : 1;
                        url.filter(`frotate(${rotMul * data.rotate})`);
                    }
                    if (!(data.width == 0 || data.height == 0)) {
                        url = thumbor.imgpath(url.genurl());
                        url.crop(
                            Math.max(Math.floor(data.x), 0),
                            Math.max(Math.floor(data.y), 0),
                            Math.ceil(data.x + data.width),
                            Math.ceil(data.y + data.height)
                        );
                    }
                    return url.genurl();
                };

                return obj;
            })();
        }

    </script>

    <script>

        function AutoCompleteSupplier(options) {
            return (function () {
                let opt = Object.assign({
                    delay: 250
                }, options);

                let obj = {};

                obj.control = jQuery(`#${options.id}`);

                obj.control.select2({
                    ajax: {
                        delay: opt.delay,
                        url: `${opt.url}/supplier/`,
                        data: function (params) {
                            return {search: params.term};
                        },
                        processResults: function (data) {
                            return {
                                results: data.map(val => {
                                    return {
                                        id: val.id,
                                        text: val.name
                                    }
                                })
                            };
                        },
                    }
                });

                obj.getSelection = () => {
                    return (({id, text}) => ({id, text}))(obj.control.select2('data')[0]);
                };

                return obj;
            })();
        }

        function AutocompleteInvoice(options, supplier) {
            return (function () {
                let opt = Object.assign({
                    delay: 250
                }, options);

                let obj = {};

                obj.control = jQuery(`#${options.id}`);

                obj.control.select2({
                    ajax: {
                        delay: opt.delay,
                        url: `${opt.url}/invoice/`,
                        data: function (params) {
                            return {
                                sold_by: supplier.getSelection().id,
                                search: params.term
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data.map(val => {
                                    return {
                                        id: val.id,
                                        text: val.invoice_number
                                    }
                                })
                            };
                        },
                    }
                });

                obj.getSelection = () => {
                    return (({id, text}) => ({id, text}))(obj.control.select2('data')[0]);
                };

                return obj;
            })();
        }

        function init_manual_form(url) {
            const autocompleteSupplier = AutoCompleteSupplier({id: 'soldBySelect', url});
            const autoCompleteInvoice = AutocompleteInvoice({id: 'invoiceSelect', url}, autocompleteSupplier);

            autocompleteSupplier.control.on('select2:select', function (e) {
                autoCompleteInvoice.control.val(null).trigger('change');
            });

            autoCompleteInvoice.control.on('select2:select', function (e) {
                let invoiceData = e.params?e.params.data:null;
                if (!invoiceData) return; //TODO: May be clear the selected invoice data
                let supplierData = autocompleteSupplier.getSelection();
                window.updateManualDataSelection(supplierData, invoiceData);
            });
        }

        function InvoiceService($http, config) {
            return (function () {
                let obj = {};

                obj.loadInvoiceData = (supplierId, invoiceNumber) => {
                    // config => {method: 'GET',url: '/someUrl'}
                    // $http.get('/someUrl', config).then(successCallback, errorCallback);
                    // $http.post('/someUrl', data, config).then(successCallback, errorCallback);
                    return $http.get(`${config.url}/invoice/`, {
                        params: { sold_by: supplierId, invoiceNumber: invoiceNumber }
                    }).then(res => {
                        return res.data.length === 1 ? res.data[0] : [];
                    });
                };

                return obj;
            })();
        }

    </script>

    <script cam-script type="text/form-script">
        // expect cost formType to be passed from the child template
        {% block camblockstart %}{% endblock %}
        $scope.formType = formType;

        const THUMBOR_URL = 'http://thumbor.invoice.arungas.com';
        const COMPANION_URL = 'http://companion.invoice.arungas.com';
        const TUS_URL = 'http://tusd.invoice.arungas.com/files/';
        const API_URL = 'http://api.invoice.arungas.com'; // Make sure it does not end with a slash

		inject([ '$scope', '$http', '$window', function($scope, $http, $window) {
            console.log("Log");

		    $scope.updateImages = () => {
		        $scope.imageEditorController.updateAllImages();
		    };

    		camForm.on('form-loaded', function() {
				camForm.variableManager.fetchVariable('imageUrls');
				camForm.variableManager.fetchVariable('manualDataEntry');
				camForm.variableManager.fetchVariable('intermediateData');
				camForm.variableManager.fetchVariable('creator');
				camForm.variableManager.fetchVariable('creatorEmail');
				camForm.variableManager.fetchVariable('creatorId');
			});

			camForm.on('variables-restored', function() {

                let images = camForm.variableManager.variableValue('imageUrls');
                $scope.imageStack = ImageStack(images);
                $scope.manualDataEntry = camForm.variableManager.variableValue('manualDataEntry') || {};
                $scope.intermediateData = camForm.variableManager.variableValue('intermediateData') || {};
                $scope.creator = camForm.variableManager.variableValue('creator');
                $scope.creatorEmail = camForm.variableManager.variableValue('intermediateData');
                $scope.creatorId = camForm.variableManager.variableValue('creatorId');

                if ($scope.intermediateData) {
                    loadInvoiceData($scope.intermediateData.supplierId, $scope.intermediateData.invoiceNumber);
                }

				setTimeout(() => {
                    $scope.imageEditorController = ImageEditorController(
                        Cropper("#image"),
                        $scope.imageStack,
                        ThumborCropperTransformer({url: THUMBOR_URL}),
                        UppyController({companion: COMPANION_URL, tus: TUS_URL})
                    );

                    if ($scope.formType == 'UnlockRequest') {
                        // Cropper is not resdy yet in dom, cant disable in this run
                        setTimeout(() => { $scope.imageEditorController.disable(); }, 0);
                    }
                }, 0);

                setTimeout(() => {
                    $scope.imageEditorController.loadIndex(0);
                }, 0);

                if ($scope.formType == "DataEntry") {
                    setTimeout(() => {
                        init_manual_form(API_URL);
                    }, 0);
                }

			});

			function storeVariables() {
                camForm.variableManager.variableValue('imageUrls', $scope.imageEditorController.getImages());
                camForm.variableManager.variableValue('manualDataEntry', $scope.manualDataEntry);
                camForm.variableManager.variableValue('intermediateData', $scope.intermediateData);
			}

            camForm.on('store', function(evt) {
                storeVariables();
            });

            camForm.on('submit', function(evt) {
              storeVariables();
            });

            $scope.invoiceService = InvoiceService($http, {url: API_URL});

            function updateManualDataSelection(supplierData, invoiceData) {
                $scope.manualDataEntry = {supplier: supplierData, invoice: invoiceData};
                updateIntermediateData(supplierData.id, supplierData.text, invoiceData.text);
            }

            function updateIntermediateData(supplierId, supplierName, invoiceNumber) {
                $scope.intermediateData = {supplierId, supplierName, invoiceNumber};
                loadInvoiceData(supplierId, invoiceNumber);
            }

            function loadInvoiceData(supplierId, invoiceNumber) {
                $scope.invoiceData = {};
                $scope.invoiceService.loadInvoiceData(supplierId, invoiceNumber).then(res => {
                    $scope.invoiceData = res;
                });
            }

            $window.updateManualDataSelection = updateManualDataSelection;
            $window.loadInvoiceData = loadInvoiceData;
	    }]);
    </script>

</form>

</body>

</html>
