{% raw %}

<div class="box box-primary">
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
        <div class="form-group">
            <div class="row">
                <label>Supplier Name</label>
                <select id="soldBySelect" selected></select>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label>Invoice No.</label>
                <select id="invoiceSelect" aria-placeholder="select supplier" selected></select>
            </div>
        </div>
        <hr>

        <div class="form-group">
            <div class="row">
                <label for="invoicedate">Invoice Date</label>
                <p>{{invoiceData.invoice_date}}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="invoicedate">Customer Name</label>
                <p>{{invoiceData.bill_to}}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="supplier_name">Supplier Name</label>
                <p>{{invoiceData.invoice_date}}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="invoice_no">Invoice No.</label>
                <p>{{invoiceData.bill_to}}</p>
            </div>
        </div>



        <div class="form-group">
            <div class="row">
                {{invoiceData.description_html}}
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>

{% endraw %}