{% extends "src/base/base_editor.njk" %}

{% block actions %}
    <div class="row">
        <div class="button box-body ">
            <select cam-variable-name="dataEntryApproval" required
                    cam-variable-type="String">
                <option value="approve">Approve</option>
                <option value="reject">Reject</option>
            </select>
        </div>
    </div>
{% endblock %}