<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://transloadit.edgly.net/releases/uppy/v1.4.0/uppy.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js"></script>
    <style>
        .pdL0 {
            padding-left: 0 !important;
        }

        .navbar {
            margin: 0;
        }

        .docs-buttons {
            margin-bottom: 10px;
        }

        .simpleDemo ul[dnd-list] {
            min-height: 42px;
            padding-left: 0px;
        }

        .simpleDemo ul[dnd-list] .dndDraggingSource {
            display: none;
        }

        .container.main {
            width: 100% !important;
        }

        .button.box-body {
            margin: 10px 0 !important;
        }

        .simpleDemo ul[dnd-list] .dndPlaceholder {
            background-color: #ddd;
            display: block;
            min-height: 42px;
        }

        .simpleDemo ul[dnd-list] li {
            background-color: #fff;
            border: 1px solid #ddd;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            display: block;
            margin-bottom: -1px;
        }

        .img-container img {
            width: 100%;
        }

        .MT10 {
            margin-top: 10px;
        }

        .simpleDemo ul[dnd-list] li.selected {
            background-color: #dff0d8;
            color: #3c763d;
        }

        .download_btn {
            display: none;
        }

        select {
            width: 300px;
            color: #000;
        }

        .draft_list_group {
            padding: 10px 15px;
            border-left: 5px solid transparent;
        }

        .icon {
            float: right;
            padding: 0 5px;
        }

        .edit a, .icon button {
            color: #000;
        }

        .icon button {
            padding: 0;
            margin: 0;
            border: 0;
        }

        .list-group {
            margin: 0;
        }

        .delete {
            padding-top: 0px;
            padding-right: 14px;
            right: 20px;
            top: 0px;
        }

        .list-group-item {
            padding: 0 !important;
        }

        /*#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }*/
        /*#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }*/
        /*#sortable li span { position: absolute; margin-left: -1.3em; }*/

        .draft_active {

        }

        .draft_active .draft {
            opacity: 1;
        }

        .draft {
            opacity: 0;
        }

        .draft_list_group:hover .up_down_btn {
            display: block !important;
        }

        .list-group .list_active {
            border-left: 3px solid #b5152b;
        }

        .icon {
            float: right;
            padding: 0 5px;
        }

        .edit a,
        .icon button {
            color: #000;
        }

        .icon button {
            padding: 0;
            margin: 0;
            border: 0;
        }

        .delete {
            padding-top: 0px;
            padding-right: 14px;
            right: 20px;
            top: 0px;
        }

        .list-group-item {
            padding: 0 !important;
        }

        .container.main {
            width: 100% !important;
        }

        .list-group li {
            list-style: none;
            /*border: 1px solid #ccc;*/
            /*float: left;*/
        }

        .draft_list_group ul {
            padding: 0;
        }

        .red {
            color: red;
        }

        .draft_list_group ul li {
            display: inline-block;
            border: 0;
            width: auto;
        }

        /*.d_page_name {*/
        /*    float: left;*/
        /*}*/
        .up_down_btn {
            float: right;
            display: none;
        }

        .draft_list_group button {
            background: none;
        }

        .draft_list_group ul li:last-child {
            float: right;
        }

    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js"></script>
    <script src="https://www.alpineenergy.in/public/main.js"></script>
    <script src="https://transloadit.edgly.net/releases/uppy/v1.3.0/uppy.min.js"></script>
    <script src="https://www.alpineenergy.in/public/thumbor.js"></script>
    <style>
        .progress{
            border:1px solid #ccc;
            position: absolute;
            width: 100%;
            height: 5px!important; ;
            top:0;
        }
        .tab-content{
            position: relative;

        }
        .form-group p{
            margin:0;
        }
        .MT20{
            margin-top: 20px;
        }
        .page_list{
            min-height: 200px;
        }
    </style>
</head>

<body class="main">

<form role="form">

    <div class="container main">
        <div class="row header">
            <div class="progress for-ProgressBar "></div>
            <div>
                <h5>Notifications</h5>
            </div>
        </div>
        <!-- header end -->
        <!-- wrapper start here -->
        <div class="row">
            <!-- invoice left start -->
            <div class="col-md-4 pd0">
                

<div class="box box-primary">
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
        <div class="form-group">
            <div class="row">
                <label>Supplier Name</label>
                <select id="soldBySelect" selected></select>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label>Invoice No.</label>
                <select id="invoiceSelect" aria-placeholder="select supplier" selected></select>
            </div>
        </div>
        <hr>

        <div class="form-group">
            <div class="row">
                <label for="invoicedate">Invoice Date</label>
                <p>{{invoiceData.invoice_date}}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="invoicedate">Customer Name</label>
                <p>{{invoiceData.bill_to}}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="supplier_name">Supplier Name</label>
                <p>{{invoiceData.invoice_date}}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="invoice_no">Invoice No.</label>
                <p>{{invoiceData.bill_to}}</p>
            </div>
        </div>



        <div class="form-group">
            <div class="row">
                {{invoiceData.description_html}}
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>


            </div>
            <!-- invoice left end -->
            <!-- invoice right block start -->
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- Content -->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 docs-buttons">
                                        <div class="btn-group">
                                            <button class="btn btn-primary" data-method="zoom" data-option="0.1"
                                                    title="Zoom In" type="button">
                                                <span class="docs-tooltip" data-animation="false"
                                                      data-toggle="tooltip"
                                                      title="$().cropper(&quot;zoom&quot;, 0.1)">
                                                    <span class="fa fa-search-plus"></span>
                                                </span>
                                            </button>
                                            <button class="btn btn-primary" data-method="zoom" data-option="-0.1"
                                                    title="Zoom Out" type="button">
                                                  <span class="docs-tooltip" data-animation="false"
                                                        data-toggle="tooltip"
                                                        title="$().cropper(&quot;zoom&quot;, -0.1)">
                                                    <span class="fa fa-search-minus"></span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-primary" data-method="rotate" data-option="-5"
                                                    title="Rotate Left" type="button">
                                                <span class="docs-tooltip" data-animation="false"
                                                      data-toggle="tooltip"
                                                      title="$().cropper(&quot;rotate&quot;, -5)">
                                                    <span class="fa fa-rotate-left"></span>
                                                </span>
                                            </button>
                                            <button class="btn btn-primary" data-method="rotate" data-option="5"
                                                    title="Rotate Right" type="button">
                                                <span class="docs-tooltip" data-animation="false"
                                                      data-toggle="tooltip"
                                                      title="$().cropper(&quot;rotate&quot;, 5)">
                                                    <span class="fa fa-rotate-right"></span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-method="crop" title="Crop">
                                               <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="$().cropper(&quot;crop&quot;)">
                                                 <span class="fa fa-crop"></span>
                                               </span>
                                            </button>
                                            <button type="button" class="btn btn-primary" data-method="clear" title="Clear">
                                               <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="$().cropper(&quot;clear&quot;)">
                                                 <span class="fa fa-remove"></span>
                                               </span>
                                            </button>
                                        </div>
<!--                                        <div class="btn-group">-->
<!--                                            <button class="btn btn-primary" data-method="scaleY" data-option="-1"-->
<!--                                                    title="Flip Vertical" type="button">-->
<!--                                                <span class="docs-tooltip" data-animation="false"-->
<!--                                                      data-toggle="tooltip"-->
<!--                                                      title="$().cropper(&quot;scaleY&quot;, -1)">-->
<!--                                                    <span class="fa fa-arrows-v"></span>-->
<!--                                                </span>-->
<!--                                            </button>-->
<!--                                        </div>-->
                                        <div class="btn-group">
                                            <button class="btn btn-primary" data-method="reset" title="Reset"
                                                    type="button">
                                                <span class="docs-tooltip" data-animation="false"
                                                      data-toggle="tooltip"
                                                      title="$().cropper(&quot;reset&quot;)">
                                                    <span class="fa fa-refresh"></span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-primary" ng-click="updateImages()"
                                                    type="button">
                                                save
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 pd0">
                                        <!-- <h3>Demo:</h3> -->
                                        <div class="img-container">
                                            <img alt="Picture" id="image"
                                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII=">
                                        </div>
                                    </div>
                                </div>

                                <!-- uppy file upload -->
<!--                                <div class="row MT10">-->
<!--                                    <div class="col-md-10 ">-->

<!--                                        <div class="uploaded-files ">-->
<!--                                            <h5>Files to be updated:</h5>-->
<!--                                            <ol></ol>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-2 pd0">-->
<!--                                        <div class="row">-->
<!--                                            <div class="btn-group right">-->
<!--                                                <a class="btn btn-primary download_btn" download="cropped.html"-->
<!--                                                   href="javascript:void(0);"-->
<!--                                                   id="download"></a>-->
<!--                                                <Updatea class="btn btn-primary" download="cropped.html"-->
<!--                                                         href="javascript:void(0);"-->
<!--                                                         id="upload-uppy">Update-->
<!--                                                </Updatea>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <!-- Content end here -->
                        </div>
                        <div class="col-md-4">
                            
                            <div class="row">
                                <div class="box-body page_list">
                                    <ul class="list-group">
                                        <li class="ui-state-default list-group-item"
                                                ng-class="{
                                                            'draft_active': imageObj.state.isDraft,
                                                            'list_active': imageStack.activeIndex == $index
                                                        }"
                                                data-ng-repeat="imageObj in imageStack.stack"
                                        >
                                            <div class="draft_list_group" class="draft_list_group">
                                                <ul>
                                                    <li class="d_page_name"
                                                        ng-click="imageEditorController.loadIndex($index)">
                                                        <div class="text">{{imageObj.state.label}}</div>
                                                    </li>
                                                    <li class="draft red">
                                                        <span class="red">(draft)</span>
                                                        <div class="icon">
                                                            <button ng-click="imageObj.discardDraft()"><i
                                                                    class="fa fa-trash-o red"></i></button>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="up_down_btn">
                                                            <div class="icon">
                                                                <button ng-click="imageStack.moveDown($index)">
                                                                    <i class="fa fa-arrow-down"></i>
                                                                </button>
                                                            </div>
                                                            <div class="icon">
                                                                <button ng-click="imageStack.moveUp($index)">
                                                                    <i class="fa fa-arrow-up"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="box-body MT20">
                                    <div class="form-group">
                                            <label for="created_date">Created Date</label>
                                            <p>{{invoiceData.created_date}}</p>
                                    </div>
                                    <div class="form-group">
                                            <label for="created_by">Created by</label>
                                            <p>{{invoiceData.created_by}}</p>
                                    </div>

                                    <div class="form-group">
                                            <label for="reviwed_date">Reviwed Date</label>
                                            <p>{{invoiceData.reviwed_date}}</p>
                                    </div>
                                    <div class="form-group">
                                            <label for="reviwed_by">Reviwed by</label>
                                            <p>{{invoiceData.reviwed_by}}</p>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
            <!-- invoice right block end -->
        </div>

        <hr>

        
    <div class="row">
        <div class="button box-body ">
            <select cam-variable-name="reviewerApproval" cam-variable-type="String"
                    required>
                <option value="approve">Approve</option>
                <option value="reject">Reject</option>
                <option value="send back">Send Back For MetaData Entry</option>
                <option value="reject request">Rejecting Pervious Acknowledgement</option>
            </select>
        </div>
    </div>


    </div>

    <script>

        function ImageObject(imageUrl, label) {
            return (function () {
                console.log(`Constructor: ImageObject`);

                let obj = {};
                obj.state = {
                    label: label,
                    url: imageUrl,
                    isDraft: false,
                    cropperData: {}
                };

                obj.discardDraft = () => {
                    obj.state.isDraft = false;
                    obj.state.cropperData = {};
                };

                obj.updateUrl = (url) => {
                    obj.state.url = url;
                    obj.discardDraft();
                };

                obj.setDraft = (cropperData) => {
                    obj.state.isDraft = true;
                    obj.state.cropperData = cropperData;
                };

                obj.getDraftData = () => {
                    return obj.state.cropperData;
                };

                return obj;
            })();
        }

        function ImageStack(imageUrls) {
            return (function () {
                console.log(`Constructor: ImageStack`);

                function arraymove(arr, fromIndex, toIndex) {
                    var element = arr[fromIndex];
                    arr.splice(fromIndex, 1);
                    arr.splice(toIndex, 0, element);
                }

                let obj = {};

                obj.activeIndex = -1;
                obj.frozen = false;

                obj.stack = imageUrls.map(
                    (url, index) => ImageObject(url, `Page ${String.fromCharCode(65 + index)}`)
                );
                obj.moveUp = (index) => {
                    // If frozen, dont operate
                    if (obj.frozen) return;
                    // Already on the top
                    if (index <= 0) return;
                    arraymove(obj.stack, index, index - 1);
                    if (index === obj.activeIndex) obj.activeIndex = index - 1;
                };
                obj.moveDown = (index) => {
                    // If frozen, dont operate
                    if (obj.frozen) return;
                    // Already on the bottom
                    if (index >= obj.stack.length - 1) return;
                    arraymove(obj.stack, index, index + 1);
                    if (index === obj.activeIndex) obj.activeIndex = index + 1;
                };
                obj.setActiveIndex = (index) => {
                    obj.activeIndex = index;
                };
                obj.setFrozen = (frozen) => {
                    obj.frozen = frozen;
                };

                return obj;
            })();
        }

        function ImageEditorController(cropper, stack, thumborTransformer, uppyController) {
            return (function () {
                console.log(`Constructor: ImageEditorController`);

                function saveDraftIfApplicable() {
                    if (stack.activeIndex === -1) return;
                    // If the cropper has edits, save then and update draft, else if image already has draft and cropper
                    // has not edits now, clear draft status.
                    let activeObj = stack.stack[stack.activeIndex];
                    if (cropper.isDirty()) {
                        activeObj.setDraft(cropper.getData());
                    } else if (activeObj.state.isDraft) {
                        activeObj.discardDraft();
                    }
                }

                function __loadIndex(index) {
                    let activeObj = stack.stack[index];
                    let data = activeObj.state.isDraft ? activeObj.getDraftData() : {};
                    cropper.loadImage(activeObj.state.url, data);
                }

                let obj = {};

                obj.loadIndex = (index) => {
                    // Return if the said index is already loaded
                    if (stack.activeIndex === index) return;

                    saveDraftIfApplicable();
                    stack.setActiveIndex(index);
                    __loadIndex(index);
                };

                obj.updateAllImages = () => {
                    stack.setFrozen(true);

                    saveDraftIfApplicable();

                    let indexMap = [];
                    let urlList = [];
                    stack.stack.forEach((imgObj, index) => {
                        if (imgObj.state.isDraft) {
                            indexMap.push(index);
                            urlList.push(thumborTransformer.transform(imgObj.state.url, imgObj.getDraftData()));
                        }
                    });

                    uppyController.addUrlsAndUpload(urlList).then(results => {
                        if (results.failed.length > 0) {
                            window.alert("Error Uploading");
                            throw new Error("Error Uploading");
                        }

                        results.successful.forEach((uploadedFile, index) => {
                            let imageObj = stack.stack[indexMap[index]];
                            imageObj.updateUrl(uploadedFile.uploadURL);
                        });

                        // If the updated images is currently loaded, refresh the cropper
                        if (indexMap.indexOf(stack.activeIndex) >= 0) {
                            __loadIndex(stack.activeIndex);
                        }
                    }).finally(() => {
                        stack.setFrozen(false);
                    });

                };

                obj.getImages = () => {
                    return stack.stack.map(imgObj => imgObj.state.url);
                };

                return obj;
            })();
        }

        function Cropper(jqDomSearchString) {
            return (function () {
                console.log(`Constructor: Cropper`);
                let obj = {};

                function getCropper() {
                    if (!obj.cropper) {
                        obj.img = jQuery(jqDomSearchString);
                        obj.cropper = obj.img.data("cropper");
                    }
                    return obj.cropper;
                }

                obj.loadImage = (url, data) => {
                    getCropper().replace(url, false);

                    // If data is provided, load the image first and wait for cropper to be ready, afterwards set data
                    if (data) {
                        setTimeout(() => {
                            let __listener = function () {
                                obj.setData(data);
                                obj.img[0].removeEventListener('ready', __listener);
                            };
                            obj.img[0].addEventListener('ready', __listener);
                        }, 0);
                    }
                };

                obj.getData = () => {
                    return getCropper().getData();
                };

                obj.setData = (data) => {
                    getCropper().setData(data);
                };

                obj.isDirty = () => {
                    // If the cropper is turned on or image is flipped or rotated
                    let data = obj.getData();
                    let hasCrop = !(data.width === 0 && data.height === 0);
                    let hasRotation = data.rotate != 0;
                    let hasFlip = data.scaleX != '1' || data.scaleY != '1';
                    return hasCrop || hasRotation || hasFlip;
                };

                return obj;
            })();
        }

        function UppyController(config) {
            return (function () {
                let obj = {};

                obj.uppy = Uppy.Core({
                    autoProceed: false,
                    allowMultipleUploads: true,
                    debug: false,
                    restrictions: {
                        maxFileSize: null,
                        maxNumberOfFiles: null,
                        minNumberOfFiles: null,
                        allowedFileTypes: null
                    },
                    meta: {}
                })
                    .use(Uppy.ProgressBar, {
                        target: '.for-ProgressBar',
                        hideAfterFinish: true
                    })
                    .use(Uppy.Tus, {endpoint: config.tus,})
                    .use(Uppy.Url, {companionUrl: config.companion});

                obj.addUrl = (url) => {
                    return obj.uppy.getPlugin('Url').addFile(url);
                };

                obj.upload = () => {
                    return obj.uppy.upload();
                };

                obj.addUrlsAndUpload = (urls) => {
                    let addFilePromiseList = urls.map(url => obj.addUrl(url));
                    return Promise.all(addFilePromiseList).then(() => {
                        return obj.upload();
                    });
                };

                return obj;
            })();
        }

        function ThumborCropperTransformer(config) {
            return (function () {
                let obj = {};

                obj.transform = (imageUrl, data) => {
                    const thumbor = new ThumborJS(config.url, null);
                    let url = thumbor.imgpath(imageUrl);
                    if (data.scaleX === -1) url.hflip();
                    if (data.scaleY === -1) url.vflip();
                    if (data.rotate) {
                        let rotMul = -1; //data.scaleY === -1 || data.scaleX === -1 ? -1 : 1;
                        url.filter(`frotate(${rotMul * data.rotate})`);
                    }
                    if (!(data.width == 0 || data.height == 0)) {
                        url = thumbor.imgpath(url.genurl());
                        url.crop(
                            Math.max(Math.floor(data.x), 0),
                            Math.max(Math.floor(data.y), 0),
                            Math.ceil(data.x + data.width),
                            Math.ceil(data.y + data.height)
                        );
                    }
                    return url.genurl();
                };

                return obj;
            })();
        }

    </script>

    <script cam-script type="text/form-script">


		inject([ '$scope', '$http', '$window', '$sce', function($scope, $http, $window, $sce) {
            console.log("Log");

		    $scope.updateImages = () => {
		        $scope.imageEditorController.updateAllImages();
		    };

    		camForm.on('form-loaded', function() {
				camForm.variableManager.fetchVariable('imageUrls');
				camForm.variableManager.fetchVariable('manualDataEntry');
			});

			camForm.on('variables-restored', function() {

                let images = camForm.variableManager.variableValue('imageUrls');
                $scope.imageStack = ImageStack(images);

				setTimeout(() => {
                    $scope.imageEditorController = ImageEditorController(
                        Cropper("#image"),
                        $scope.imageStack,
                        ThumborCropperTransformer({url: 'http://thumdor.xip.io'}),
                        UppyController({companion: 'http://com.xip.io', tus: 'http://tusd.xip.io/files/'})
                    );
                }, 0);


                setTimeout(() => {
                    __form_init__();
                    __form_init_1__();

                    if (!camForm.variableManager.variables.manualDataEntry) {
                        camForm.variableManager.createVariable({
                            name: 'manualDataEntry',
                            type: 'json',
                            value: {},
                            isDirty: false
                        });
                    }
                    $scope.manualDataEntry = camForm.variableManager.variableValue('manualDataEntry') || {};

                }, 0);

			});

			function storeVariables() {
                camForm.variableManager.variableValue('imageUrls', $scope.imageEditorController.getImages());
                camForm.variableManager.variableValue('manualDataEntry', $scope.manualDataEntry);
			}

            camForm.on('store', function(evt) {
                storeVariables();
            });

            camForm.on('submit', function(evt) {
              storeVariables();
            });

            $scope.invoiceService = InvoiceService($http, $sce, {url: 'http://192.168.1.95:8000'});


            function loadInvoiceData(supplierId, invoiceNumber) {
                $scope.manualDataEntry = {supplierId: supplierId, invoiceNumber: invoiceNumber};
                $scope.invoiceData = {};
                $scope.invoiceService.loadInvoiceData(supplierId, invoiceNumber).then(res => {
                    $scope.invoiceData = res;
                });
            }

            $window.loadInvoiceData = loadInvoiceData;
	    }]);


    </script>

</form>

</body>

<script>

    function __form_init__() {
        //[{"id":1,"name":"Arun Indane"}]
        var soldBySelect = jQuery('#soldBySelect');
        soldBySelect.select2({
            ajax: {
                delay: 250,
                url: 'http://192.168.1.95:8000/supplier/',
                data: function (params) {
                    return {search: params.term};
                },
                processResults: function (data) {
                    return {
                        results: data.map(val => {
                            return {
                                id: val.id,
                                text: val.name
                            }
                        })
                    };
                },
            }
        });

        function selectValue(control, endpoint, value) {
            jquery.ajax({
                type: 'GET',
                url: '${endpoint}${value}/'
            }).then(function (data) {
                var option = new Option(data.name, data.id, true, true);
                control.append(option).trigger('change');
                // manually trigger the select2:select event
                control.trigger({
                    type: 'select2:select',
                    params: {
                        data: data
                    }
                });
            });
        }

        // selectValue(soldBySelect, 'http://192.168.1.95:8000/supplier/', 2);
    }
</script>
<script>

    function AutoCompleteFormControl(options) {
        return (function () {
            let opt = Object.assign({
                delay: 250

            }, options);

            let obj = {};

            obj.control = jQuery(`#${options.id}`);

            obj.control.select2({
                ajax: {
                    delay: opt.delay,
                    url: 'http://192.168.1.95:8000/invoice/',
                    data: function (params) {
                        return {
                            sold_by: jQuery("#invoiceSelect").val(),
                            search: params.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.map(val => {
                                return {
                                    id: val.id,
                                    text: val.invoice_number
                                }
                            })
                        };
                    },
                }
            });

            return obj;
        })();
    }

    function __form_init_1__() {
        var invoiceSelect = jQuery('#invoiceSelect');
        invoiceSelect.select2({
            ajax: {
                delay: 250,
                url: 'http://192.168.1.95:8000/invoice/',
                data: function (params) {
                    return {
                        sold_by: jQuery("#invoiceSelect").val(),
                        search: params.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.map(val => {
                            return {
                                id: val.id,
                                text: val.invoice_number
                            }
                        })
                    };
                },
            }
        });

        function selectValue(control, endpoint, value) {
            jquery.ajax({
                type: 'GET',
                url: '${endpoint}${value}'
            }).then(function (data) {
                var option = new Option(data.name, data.invoice_number, true, true);
                control.append(option).trigger('change');

                // manually trigger the select2:select event
                control.trigger({
                    type: 'select2:select',
                    params: {
                        data: data
                    }
                });

            });
        }

        // selectValue(invoiceSelect, 'http://192.168.1.95:8000/invoice/', 2);

        invoiceSelect.on('select2:select', function (e) {
            let data = e.params.data;
            window.loadInvoiceData(jQuery("#invoiceSelect").val(), data.invoice_number);
        });

        // .trigger({
        //     type: 'select2:select',
        //     params: {
        //         data: data
        //     }
        // });

    }

</script>


<script>
    function InvoiceService($http, $sce, config) {
        return (function () {
            let obj = {};

            obj.loadInvoiceData = (supplierId, invoiceNumber) => {
                // config => {method: 'GET',url: '/someUrl'}
                // $http.get('/someUrl', config).then(successCallback, errorCallback);
                // $http.post('/someUrl', data, config).then(successCallback, errorCallback);
                return $http.get(`${config.url}/invoice/`, {
                    params: { sold_by: supplierId, invoiceNumber: 12}
                }).then(res => {
                    return res.data.length == 1?res.data[0]:[];
                });
            };

            return obj;
        })();
    }
</script>

</html>
